@font-face {
  font-family: Lato;
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato/Lato-Thin.ttf') format('truetype'),
    url('../fonts/Lato/Lato-ThinItalic.ttf') format('truetype'),
    url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype'), url('../fonts/Lato/Lato-Light.ttf') format('truetype'),
    url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype'), url('../fonts/Lato/Lato-Black.ttf') format('truetype');
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

* {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Overrides the default browser settings */
select {
  background-color: #ffffff;
}
